.search-area{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.search-box input[type="date"]{
    padding: 30px 30px;
    font-size: 20px;
    gap: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    background: #fff;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    font-family: Montserrat;
}
.search-btn{
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type = "submit"]{
    height: 8%;
    background: #192b3c;
    border: none;
    border-radius: 0%;
    padding: 15px;
    width: 20%;
    font: 300 1.1vmax "Montserrat";
    color: #fff;
    transition: all ease .5s;
    cursor: pointer;
}
 input[type = "submit"]:hover{
    background: #86EFAC;
}
.total{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 100px;
    /* background: #000; */
}
.list a{
    height: 8%;
    background: #192b3c;
    border: none;
    border-radius: 0%;
    padding: 15px;
    width: 15%;
    font: 300 1.1vmax "Montserrat";
    color: #fff;
    transition: all ease .5s;
    cursor: pointer;
    text-decoration: none;
}
.list a:hover{
    text-decoration: underline;
}
.total-box{
    height: 48%;
    background: #192b3c;
    border: none;
    border-radius: 0%;
    padding: 15px;
    width: 30%;
    font: 300 1.1vmax "Montserrat";
    color: #fff;
    display: flex;
    justify-content: center;
}
.amount{
    padding: 0 15px;
}
.amount-heading p{
    font-weight: 500;
}
.search-btn {
    margin-bottom: 30px;
}
@media screen and (max-width: 425px) {
    .search-box{
        display: flex;
        justify-content: center;
        flex-direction: column;
        padding-left: 20px;
    }
    input[type = "submit"]{
        width: 30%;
        font-size: 2vmax;
    }
    .total-box{
        font-size: 1.5vmax;
    }
    .list a{
        font-size: 1.6vmax;
    }
}