.main-form {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.main{
    background: #F0F1F4;
}
.addUser {
    background: #1C2B36;
    border-radius: 5%;
    padding: 0 30px;
    transition: .8s ease-in-out all;
    font-family: Montserrat;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
.addUser h2 {
    color: #fff;
    font-weight: 600;
    font-size: 30px;
    padding: 30px 0;
    text-align: center;
    transition: .8s ease all;
}
.addUser input {
    display: flex;
    width: 100%;
    padding: 10px 30px;
    border-radius: 5px;
    outline: none;
    margin: 30px 0;
}
.addUser select{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 10px 30px;
    border-radius: 5px;
    outline: none;
    margin: 30px 0;
}
.addUser button {
    color: #fff;
    font-size: 15px;
    background: #344854;
    padding: 10px 60px;
    border-radius: 10px;
}
.addUser a{
    color: #fff;
    text-align: center;
}