 @font-face {
    font-family: 'Lemon';
    src: url('../fonts/Lemon/Lemon-Regular.ttf') format('truetype');
 }

 *,
 *::before,
 *::after {
    box-sizing: border-box;
 }

 .logo {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 0;
 }

 .line::after {
    content: '';
    display: block;
    background: #fff;
    width: 100%;
    height: 1px;
    margin-top: -20px;
 }

 .logo p {
    color: #fff;
    font-size: 2vmax;
    font-family: 'Lemon', sans-serif;
 }

 body {
    font-family: Montserrat;
    font-size: 1em;
    color: #333;
 }

 .s-sidebar__trigger {
    z-index: 2;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 4em;
    background: #192b3c;
 }

 .s-sidebar__trigger>i {
    display: inline-block;
    margin: 1.5em 0 0 1.5em;
    color: #f07ab0;
 }

 .s-sidebar__nav {
    position: fixed;
    top: 0;
    left: -15em;
    overflow: hidden;
    transition: all .3s ease-in;
    width: 15em;
    height: 100%;
    background: #243e56;
    z-index: 100;
    color: rgba(255, 255, 255, 0.7);
 }

 .s-sidebar__nav:hover,
 .s-sidebar__nav:focus,
 .s-sidebar__trigger:focus+.s-sidebar__nav,
 .s-sidebar__trigger:hover+.s-sidebar__nav {
    left: 0;
 }

 .s-sidebar__nav ul {
    top: 4em;
    left: 0;
    margin: 0;
    padding: 0;
    width: 15em;
 }

 .s-sidebar__nav ul li {
    width: 100%;
 }

 .s-sidebar__nav-link {
    position: relative;
    display: inline-block;
    width: 100%;
    height: 4em;
    font-family: Montserrat;
 }

 .s-sidebar__nav-link {
    display: flex;
    align-items: center;
    margin-top: 10px;
    text-decoration: none;
    padding: 34px 40px;
    color: #fff;
 }

 .s-sidebar__nav-link svg {
   width: 30px;
    margin-right: 20px;
    color: #fff;
 }

 .s-sidebar__nav-link:hover {
    background: #4d6276;
 }

 .s-sidebar__nav-link>i::before {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

 .log {
    display: none;
 }

 @media (min-width: 42em) {
    .s-layout__content {
       margin-left: 4em;
    }

    .s-sidebar__nav-link svg {
       margin-left: -20px;
       color: #fff;
       font-size: 3.2vmax;
       margin-right: 30px;
    }

    .s-sidebar__trigger {
       width: 4em;
    }

    .s-sidebar__nav {
       width: 4em;
       left: 0;
    }

    .s-sidebar__nav:hover,
    .s-sidebar__nav:focus,
    .s-sidebar__trigger:hover+.s-sidebar__nav,
    .s-sidebar__trigger:focus+.s-sidebar__nav {
       width: 15em;
    }
 }

 @media (min-width: 68em) {
    .s-layout__content {
       margin-left: 15em;
    }

    .s-sidebar__trigger {
       display: none
    }

    .s-sidebar__nav {
       width: 15em;
    }

    .s-sidebar__nav ul {
       top: 1.3em;
    }
 }

 @media only screen and (max-width: 425px) {

    .s-sidebar__nav-link svg {
       margin-left: -17px;
       color: #fff;
       font-size: 2.3vmax;
    }

    .log {
       display: block;
    }
 }