.header ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header ul a{
    text-decoration: none;
    padding: 19px 50px;
    color: #888;
    margin-top: 5px;
    font-family: Montserrat;
}
.header::after {
    content: '';
    display: block;
    width: 100%;
    height: 1px;
    clear: both;
    margin-top: -22px; 
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
@media screen and (max-width: 768px) {
    .header ul a {
        padding: 12px 50px;
    }
}