@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background: #1C2B36;
    margin: 0;
  }
  @font-face {
    font-family: 'Montserrat';
    src: url('./fonts/Montserrat/Montserrat-VariableFont_wght.ttf') format('truetype');
}
